<html>
    <head>
        <title>TechShots</title>
    </head>
    <body>
        <% posts.forEach((post) => { %>
            <h2><%= post.title %></h2>
            <p><%= post.summary %></p>
            <p><b>Source:</b> <%= post.source %></p>
        <% }) %>
    </body>
</html>