<html>
    <head>
        <title>TechShots</title>
        <link href="/css/base.css" rel="stylesheet">
        <link href="/css/profile.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
          <span>
              <a href="/"><img class="img" src="/back.svg" alt=""></a>
          </span>
          <span>
            <img class="logo" src="/logo.svg" alt="TechShots Logo">
            <h2 class="logo-text">TechShots</h2>
          </span>
          <span>
              <img class="img" src="/logout.svg" alt="" id="logout-btn">
          </span>
        </div>

        <div class="content">
          <div class="profile-container">
            <div >
              <div class="profile-picture-container">
                <img src="/profile-picture.png" alt="">
              </div>
              <div class="edit-profile-btn-container">
                <img src="/edit.png" alt="">
              </div>
            </div>
            <div class="profile-details-container">
              <h2>Kaya Clarson</h2>
              <p>kaya.clarson@gmail.com</p>
              <p class="interests-title">INTERESTS</p>
              <div class="interests-container">
                <p>Techcrunch</p>
                <p>Cleantechnica</p>
              </div>
            </div>
          </div>
        </div>
    </body>
    <script src="/js/profile.js"></script>
</html>