<html>
    <head>
        <title>TechShots</title>
        <link href="/css/base.css" rel="stylesheet">
        <link href="/css/search.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
          <span>
              <a href="/"><img class="img" src="/back.svg" alt=""></a>
          </span>
          <span>
            <img class="logo" src="/logo.svg" alt="TechShots Logo">
            <h2 class="logo-text">TechShots</h2>
          </span>
          <span>
              <img class="img" src="/edit.png" alt="">
          </span>
        </div>

        <div class="content">
          <div class="search-container">
            <input type="text" class="search" placeholder="Enter keyword here">
            <button class="search-btn">Search</button>
            <div class="suggestions-container">
              <div class="recommendation">
                <div class="recommendation-item">
                  <img src="/suggestion.jpg"/>
                  <span>TechCrunch</span>
                  <span class="follow-btn">+</span>
                </div>
                <div class="recommendation-item">
                  <img src="/suggestion.jpg"/>
                  <span>TechCrunch</span>
                  <span class="follow-btn">+</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>