
<label for="username">Username:</label>
<input type="text" name="username" id="auth-username">
<br>
<label for="password">Password:</label>
<input type="password" name="password" id="auth-password">
<br>
<button id="authorize-btn">Authorize</button>