body {
  margin: 0;
}
.feed {
  background-color: #eee;
}
.feed-card.primary {
  background-color: #fff;
  padding: 2rem;
  margin-bottom: 4px;
}
.feed-card.primary .feed-image-container, .feed-card.primary .feed-details {
  float: left;
}
.feed-card.primary .feed-image-container {
  width: 30%;
}
.feed-card.primary .feed-image-container img{
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}
.feed-card.primary .feed-details {
  width: 67%;
  padding-left: 3%;
}
.feed-card.primary .feed-details .post-title {
  padding: 0.6rem 0rem;
}
.feed-card.primary .feed-details .post-desc {
  color: rgb(107, 107, 107);
}
.feed-card.primary .feed-details .post-src {
  padding-bottom: 0.2rem;
}
.feed-card.primary .feed-details .post-src img{
  height: 24px;
}
.feed-card.primary .feed-details .post-src a{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.feed-card.primary .feed-details hr{
  height: 2px;
  background-color: #eee;
  margin: 1rem 0;
}
.feed-card.primary .clearfix {
  clear: both;
}

.recommendation {
  display: flex;
  height: 100px;
  /* background-color: #eee; */
  padding: 0.6rem 1.5rem;
  border-bottom: 1px solid #eee;
}
.recommendation .recommendation-item {
  position: relative;
  color: rgb(107, 107, 107);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}
.recommendation .recommendation-item img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #5bd6be;
  padding: 2px;
  margin-bottom: 0.3rem;
}
.recommendation .recommendation-item .follow-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.3rem;
  color: #fff;
  background-color: #5bd6be;
  border-radius: 50%;
}

.category {
  margin-top: 1rem;
  padding: 0rem 2rem;
}
.category li {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  display: inline;
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
}
.category li.active {
  font-weight: 400;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(158,158,158,1);
  -moz-box-shadow: 0px 2px 10px 1px rgba(158,158,158,1);
  box-shadow: 0px 2px 10px 1px rgba(158,158,158,1);
}
.category li a {
  color: rgb(107, 107, 107);
  text-decoration: none;
}
.category li.active a {
  color: #000;
}

@media only screen and (max-width: 768px){
  .feed-card.primary .feed-image-container {
    width: 100%;
  }
  .feed-card.primary .feed-details {
    width: 100%;
    padding: 0.5rem;
  }
}


.post-btns{
  display: flex;
  align-content: center;
}
.post-btns .label{
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding-top: 0.1rem;
}
.post-link {
  text-decoration: none;
  color: #000;
}
.heart{
    position: relative;
    width: 25px;
    height: 22px;
    float: left;
    transition: 0.5s all linear;
}
.heart:before,
.heart:after{
    position: absolute;
    content: "";
    left: 12px;
    top: 0;
    width: 12px;
    height: 20px;
    background: #eee;
    border-radius: 12px 12px 0 0;
            transform: rotate(-45deg);
            transform-origin: 0 100%;
}
.heart:after{
    left: 0;
            transform: rotate(45deg);
            transform-origin :100% 100%;
}

.heart.active{
  transform: scale(1.1, 1.1);
}
.heart.active:before,
.heart.active:after{
    background: rgb(238, 64, 93);
}

.eye {
  width: 19px;
  height: 19px;
  line-height: 25px;
  display: inline-block;
  background-color: #eee;
  border: solid 1px rgb(145, 145, 145);
  border-radius:  75% 15%;
  position: relative;
  transform: rotate(45deg);
}
.eye:before {
  content: '';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border: solid 1px rgb(145, 145, 145);
  border-radius: 50%;
  left: 4.5px;
  top: 4.5px;
}

.filter-container{
  display: none;
  color: #000;
  background-color: #fff;
  width: 250px;
  position: absolute;
  right: 2px;
  top: 52px;
  font-size: 1.1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  padding: 0rem 0.2rem;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.filter-container div{
  padding: 0.8rem 0.3rem;
  border-bottom: 2px solid #D0CFCE;
}
.filter-container div:last-of-type{
  border-bottom: none;
}
.filter-container div select{
  float: right;
}
.filter-container.active{
  display: block;
}

.pagination{
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  text-align: center;
  margin: 1.2rem 0;
}
.pagination li{
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}
.pagination li.active {
  background-color: #5bd6be;
}
.pagination li a {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
  text-decoration: none;
}
.pagination li.active a {
  color: #fff;
}
.pagination li.disabled a {
  cursor: default;
  color: #999;
}
.pagination li a img {
  margin-top: 0.25rem;
}
footer{
  padding: 2.5rem 1rem;
  background-color: #eee;
  margin-top: 3.5rem;
  font-size: 1.1rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}